-# app/views/layouts/application.html.haml

-# Jam in a flash[:notice] so that we can see the flash rendering in effect
- flash[:notice] = "This is message in flash"
!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "App_Name"
    %meta{:content => content_for?(:description) ? yield(:description) : "App_Name", :name => "description"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse

      %nav.navbar{:role => "navigation"}
        .container-fluid
          .navbar-header
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "#"} Retífica Automotiva Grales
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Usuários
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "/users"} Listar Usuários
                  %li
                    %a{:href => "/users/new"} Adicionar Usuário
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Veículos
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "/vehicles"} Listar Veículos
                  %li
                    %a{:href => "/vehicles/new"} Adicionar Veículo
              %form.navbar-form.navbar-right{:role => "Buscar"}
                .form-group
                  %input.form-control{:placeholder => "Buscar", :type => "text"}
                %button.btn.btn-default{:type => "submit"} Submit

    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              space
          .row
            .span12
              = render 'layouts/messages'
              = yield

    %footer
