%h1 Listing users

%table.table
  %thead
    %tr
      %th Name
      %th Adress
      %th Email
      %th Phone
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.adress
        %td= user.email
        %td= user.phone
        %td= link_to 'Show', user, class: "btn, btn-primary"
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path,  class: "btn btn-primary"
