.row
  .col-xs-4
    = form_for @fuel, class: "form" do |f|
      - if @fuel.errors.any?
        #error_explanation
          %h2= "#{pluralize(@fuel.errors.count, "error")} prohibited this fuel from being saved:"
          %ul
            - @fuel.errors.full_messages.each do |msg|
              %li= msg
    
      .field.form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      .actions
        = f.submit 'Save', class: "btn btn-primary"
