%h1 Listing fuels

%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @fuels.each do |fuel|
      %tr
        %td= fuel.name
        %td= link_to 'Show', fuel, class: "btn btn-primary"
        %td= link_to 'Edit', edit_fuel_path(fuel), class: "btn btn-primary"
        %td= link_to 'Destroy', fuel, class: "btn btn-primary", :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Fuel', new_fuel_path, class: "btn btn-primary"
