= form_for @model do |f|
  - if @model.errors.any?
    #error_explanation
      %h2= "#{pluralize(@model.errors.count, "error")} prohibited this model from being saved:"
      %ul
        - @model.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
