%h1 Listing models

%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @models.each do |model|
      %tr
        %td= model.name
        %td= link_to 'Show', model, class: "btn btn-primary"
        %td= link_to 'Edit', edit_model_path(model), class: "btn btn-primary"
        %td= link_to 'Destroy', model, class: "btn btn-primary", :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Model', new_model_path, class: "btn btn-primary"
