%h1 Listing brands

%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @brands.each do |brand|
      %tr
        %td= brand.name
        %td= link_to 'Show', brand, class: "btn btn-primary"
        %td= link_to 'Edit', edit_brand_path(brand), class: "btn btn-primary"
        %td= link_to 'Destroy', brand, class: "btn btn-primary", :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Brand', new_brand_path, class: "btn btn-primary"
