.row
  .col-xs-4
    = form_for @engine, class: "form" do |f|
      - if @engine.errors.any?
        #error_explanation
          %h2= "#{pluralize(@engine.errors.count, "error")} prohibited this engine from being saved:"
          %ul
            - @engine.errors.full_messages.each do |msg|
              %li= msg
    
      .field.form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      .actions
        = f.submit 'Save', class: "btn btn-primary"
