%h1 Listing engines

%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @engines.each do |engine|
      %tr
        %td= engine.name
        %td= link_to 'Show', engine, class: "btn btn-primary"
        %td= link_to 'Edit', edit_engine_path(engine), class: "btn btn-primary"
        %td= link_to 'Destroy', engine, class: "btn btn-primary", :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Engine', new_engine_path, class: "btn btn-primary"
