%h1 Listing engines

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @engines.each do |engine|
      %tr
        %td= engine.name
        %td= link_to 'Show', engine
        %td= link_to 'Edit', edit_engine_path(engine)
        %td= link_to 'Destroy', engine, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Engine', new_engine_path
